<section id="galerie">
    <h2 class="titlu-galerie"><u>Galerie Foto</u></h2>
    <div class="galerie-grid">
        <% vectLuni=["ianuarie","februarie","martie","aprilie", "mai" , "iunie" , "iulie" , "august"
            ,"septembrie", "octombrie" , "noiembrie" , "decembrie" ] 

            const lunaCurenta=new Date().getMonth(); 
            let anotimpCurent; 

            if ([11, 0, 1].includes(lunaCurenta)) { 
                anotimpCurent="iarna" ; } 
            else if ([2, 3,4].includes(lunaCurenta)) { 
                anotimpCurent="primavara" ; }
            else if ([5, 6, 7].includes(lunaCurenta)) {
                anotimpCurent="vara" ; } 
            else { // toamna: [8, 9, 10] 
                anotimpCurent="toamna" ; } 
            
            for(let imag of locals.imagini){ 
                if (imag.anotimp===anotimpCurent) { %>
                <figure>
                    <picture>
                        <source srcset="<%= imag.fisier_mic %>" media="(max-width: 700px)">
                        <source srcset="<%= imag.fisier_mediu %>" media="(max-width: 1100px)">
                        <img src="<%= imag.fisier %>" alt="<%- imag.titlu  || imag.fisier.split('/').pop() %>" title="<%- imag.text_descriere %>">
                    </picture>
                    <figcaption>
                        <h4 class="titlu-imagine"><%- imag.titlu %></h4>
                        <p class="descriere-imagine"><%- imag.text_descriere %></p>
                    </figcaption>
                </figure>
             <% } 
            } %>
    </div>
</section>